<nav class="navbar bg-dark navbar-dark">
 <div class="navbar-brand">
 Ad Traffic
 </div>
 </nav>
 <div class="alert alert-success">
  Are you looking to promote your referral link to a wider audience. Worry no more!
</div>
<p><strong>Basic steps</strong></p>
<ul>
<li>Enter your referral link</li>
<li>Enter the sites login credentials</li>
<li>Hurray! You're done</li>
</ul>

<form action="/data" method="POST">

  <div class="form-group">
    <label for="url">Referral link:
   </label>                                   <input 
	  name="url"
    type="url" 
		class="form-control" 
		placeholder="Enter referral link"
		required>         </div>

  <div class="form-group">
    <label for="email">Username:</label>
    <input 
		name="username"
		type="text" 
		class="form-control" 
		placeholder="Enter username" 
		id="username"
		required>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input 
		name="password"
		type="password" 
		class="form-control" 
		placeholder="Enter password" 
		id="pwd"
		required>
  </div>
  <button 
	type="submit" 
	class="btn btn-success"
	required>Submit</button>
</form>

<nav class="navbar navbar-dark bg-dark"> 
<div class="navbar-brand">                Thank you for trusting us.     
</div>                                    </nav>
