<!DOCTYPE html>                           <html lang="en">                             <head>                                    <%- include('./head'); %>                 </head>                                   <body>
   <p>
	 <strong>
	 The ad was setup successfully
	 </strong>
	 </p>
	 <a href="/">Add more</a>
	 <nav class="navbar navbar-dark bg-dark">  <div class="navbar-brand">                Thank you for trusting us.                </div>                                    </nav>
   </body>                                   </html>
